![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [44]:
# Re-run this cell 
import pandas as pd
import numpy as np

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

#Schools that had the best math results?
best_math_schools = schools[schools['average_math']>= 0.8*800]
best_math_schools = best_math_schools[['school_name', 'average_math']].sort_values(by = 'average_math', ascending  = False)


#top 10 performing schools

schools['total_SAT'] = schools[['average_math','average_reading','average_writing']].sum(axis = 1)
schools = schools.sort_values(by = 'total_SAT', ascending = False)
selected_schools = schools.head(10)
top_10_schools = selected_schools[['school_name','total_SAT']]

#Borough with the largest standard deviation
borough_stats = schools.groupby('borough').agg(num_schools=('total_SAT', 'size'), average_SAT=('total_SAT', 'mean'), std_SAT=('total_SAT', 'std') )
borough_stats = borough_stats.round(2)
borough_stats.head()
largest_std_dev = borough_stats.sort_values(by = 'std_SAT', ascending = False)
largest_std_dev = largest_std_dev.head(1)

               num_schools  average_SAT  std_SAT
borough
Bronx                   98      1202.72   150.39
Brooklyn               109      1230.26   154.87
Manhattan               89      1340.13   230.29
Queens                  69      1345.48   195.25
Staten Island           10      1439.00   222.30